## Settings file was created by plugin ChatCommandAPI v1.2.1
## Plugin GUID: baer1.ChatCommandAPI

[Client]

## The prefix to use for client-side commands
# Setting type: String
# Default value: /
CommandPrefix = /

## Allows non-API chat commands to run (may cause the command you run to be sent in chat)
# Setting type: Boolean
# Default value: false
CompatibilityModeEnabled = false

[General]

## The default color to use for chat responses
# Setting type: Color
# Default value: 00FFFFFF
DefaultMessageColor = 00FFFFFF

[Server]

## Enables or disables server commands
# Setting type: Boolean
# Default value: false
ServerCommandsEnabled = false

## The prefix to use for server-side commands
# Setting type: String
# Default value: !
ServerCommandPrefix = !

## A welcome message that is displayed to any player that joins (clear to disable). {0} is replaced with ServerCommandPrefix
# Setting type: String
# Default value: This server supports chat commands.\nType {0}help for more information
ServerWelcomeMessage = This server supports chat commands.\nType {0}help for more information

