## Settings file was created by plugin LethalModUtils v1.0.1
## Plugin GUID: baer1.LethalModUtils

[Audio]

## Whether to pre-load audio into RAM
# Setting type: Boolean
# Default value: true
PreloadAudio = true

