## Settings file was created by plugin CharlottesLabyrinth v1.0.4
## Plugin GUID: CharlottesLabyrinth

[Music]

## Configure whether music plays in the interior.
# Setting type: Boolean
# Default value: true
Enable music = true

## Configure how loud each song will be when playing at max volume. Not recommended to set that high but if you want to lose your ears then go for it.
# Setting type: Single
# Default value: 0.15
# Acceptable value range: From 0 to 1
Max volume of songs = 0.15

[Polina Options]

## Configure how fast Polina moves while wandering.
# Setting type: Int32
# Default value: 2
Polina wander speed = 2

## Configure how fast Polina moves while chasing.
# Setting type: Int32
# Default value: 4
Polina chase speed = 4

## Configure the amount of damage daelt by the bash attack from Polina.
# Setting type: Int32
# Default value: 10
Polina bash damage = 10

## Configure the amount of damage daelt by the syringe attack from Polina.
# Setting type: Int32
# Default value: 5
Polina syringe damage = 5

