## Settings file was created by plugin Shockwave Drone v0.6.1
## Plugin GUID: droneenemy

[Other]

## Toggle the screenshake on the drone
# Setting type: Boolean
# Default value: true
ScreenShake = true

## If the Drones attacks can hit through walls
# Setting type: Boolean
# Default value: false
HitThroughWalls = false

## If the Drone can collide with the player
# Setting type: Boolean
# Default value: true
HasCollision = true

[Shockwave]

## The spawn chance weights for the Shockwave Drone.
# Setting type: String
# Default value: Custom=60,Experimentation=40,Assurance=50,Vow=60,Offense=50,March=60,Rend=30,Dine=30,Titan=70,Adamance=65,Embrion=80,Artifice=95
DroneSpawnWeight = Custom=60,Modded=8,ExperimentationLevel=8,AssuranceLevel=10,VowLevel=15,OffenseLevel=10,MarchLevel=10,RendLevel=3,DineLevel=3,TitanLevel=17,Adamance=15,Embrion=20,Artifice=30

## Minimum Attack Time Interval (Actual Seconds)
# Setting type: Int32
# Default value: 15
MinAttackTime = 15

## Maximum Attack Time Interval (Actual Seconds)
# Setting type: Int32
# Default value: 60
MaxAttackTime = 60

## Percentage whether the drone will drop scrap when destroyed 1 - 100%
# Setting type: Int32
# Default value: 85
ScrapChance = 85

# Setting type: Int32
# Default value: 20
ScanDamage = 20

## The amount of damage when the drone explodes on death.
# Setting type: Int32
# Default value: 100
DeathExplosionDamage = 100

## Time it takes for the drone to explode after being hit
# Setting type: Single
# Default value: 0.5
ExplosionSpeed = 0.5

## The Movement speed of the drone
# Setting type: Single
# Default value: 2.3
MoveSpeed = 2.3

## Set this higher than 0 if you want the drone to move while doing an attack
# Setting type: Single
# Default value: 0
IdleSpeed = 0

