## Settings file was created by plugin Charlotte's Labyrinth v## Plugin GUID: Teaisnt.Charlotte's Labyrinth

[CharlottesLabyrinth Options]

## Whether CharlottesLabyrinth is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for 012 Charlotte's Labyrinth.
# Setting type: Boolean
# Default value: false
012 Charlottes Labyrinth | Allow Editing Config = false

## Cost for 012 Charlotte's Labyrinth in the shop.
# Setting type: Int32
# Default value: 250
012 Charlottes Labyrinth | Cost = 250

## Min/Max scrap for 012 Charlotte's Labyrinth.
# Setting type: BoundedRange
# Default value: 19,21
012 Charlottes Labyrinth | Min/Max Scrap = 17,25

## Time multiplier for 012 Charlotte's Labyrinth.
# Setting type: Single
# Default value: 1
012 Charlottes Labyrinth | Time Multiplier = 1

## Inside enemy power count for 012 Charlotte's Labyrinth.
# Setting type: Int32
# Default value: 13
012 Charlottes Labyrinth | Inside Enemy Power Count = 13

## Outside enemy power count for 012 Charlotte's Labyrinth.
# Setting type: Int32
# Default value: 13
012 Charlottes Labyrinth | Outside Enemy Power Count = 13

## Daytime enemy power count for 012 Charlotte's Labyrinth.
# Setting type: Int32
# Default value: 20
012 Charlottes Labyrinth | Daytime Enemy Power Count = 20

## Inside enemy spawn range for 012 Charlotte's Labyrinth.
# Setting type: Single
# Default value: 3
012 Charlottes Labyrinth | Inside Enemy Spawn Range = 3

## Outside enemy spawn range for 012 Charlotte's Labyrinth.
# Setting type: Single
# Default value: 3
012 Charlottes Labyrinth | Outside Enemy Spawn Range = 3

## Daytime enemy spawn range for 012 Charlotte's Labyrinth.
# Setting type: Single
# Default value: 8
012 Charlottes Labyrinth | Daytime Enemy Spawn Range = 8

## Inside enemy spawn curve for 012 Charlotte's Labyrinth.
# Setting type: AnimationCurve
# Default value: 0.00, -3.00;0.11, 1.27;0.22, 2.73;0.33, 3.90;0.44, 5.16;0.56, 6.79;0.67, 8.98;0.78, 11.64;0.89, 13.73;1.00, 15.00
012 Charlottes Labyrinth | Inside Enemy Spawn Curve = 0.00, -3.00;0.11, 1.27;0.22, 2.73;0.33, 3.90;0.44, 5.16;0.56, 6.79;0.67, 8.98;0.78, 11.64;0.89, 13.73;1.00, 15.00

## Outside enemy spawn curve for 012 Charlotte's Labyrinth.
# Setting type: AnimationCurve
# Default value: 0.00, -2.89;0.11, -2.25;0.22, -1.50;0.34, -1.07;0.45, -0.82;0.56, -0.55;0.67, -0.04;0.78, 1.15;0.89, 3.32;1.01, 5.36
012 Charlottes Labyrinth | Outside Enemy Spawn Curve = 0.00, -2.89;0.11, -2.25;0.22, -1.50;0.34, -1.07;0.45, -0.82;0.56, -0.55;0.67, -0.04;0.78, 1.15;0.89, 3.32;1.01, 5.36

## Daytime enemy spawn curve for 012 Charlotte's Labyrinth.
# Setting type: AnimationCurve
# Default value: 0.00, -0.72;0.11, -2.31;0.22, -3.03;0.33, -3.38;0.44, -3.86;0.56, -4.97;0.67, -7.39;0.78, -10.68;0.89, -13.57;1.00, -14.82
012 Charlottes Labyrinth | Daytime Enemy Spawn Curve = 0.00, -0.72;0.11, -2.31;0.22, -3.03;0.33, -3.38;0.44, -3.86;0.56, -4.97;0.67, -7.39;0.78, -10.68;0.89, -13.57;1.00, -14.82

## Whether you're allowed to edit the config entries for CharlottesLabyrinth.
# Setting type: Boolean
# Default value: false
CharlottesLabyrinth | Allow Editing Config = false

## Whether you're allowed to edit the config entries for CharlotteFlow.
# Setting type: Boolean
# Default value: false
CharlotteFlow | Allow Editing Config = false

## Preset moon weights for CharlotteFlow.
# Setting type: String
# Default value: charlotteslabyrinth:charlottes_labyrinth=+9999
CharlotteFlow | Preset Moon Weights = charlotteslabyrinth:charlottes_labyrinth=+9999

## Preset weather weights for CharlotteFlow.
# Setting type: String
# Default value: 
CharlotteFlow | Preset Weather Weights = 

## Preset route weights for CharlotteFlow.
# Setting type: String
# Default value: 
CharlotteFlow | Preset Route Weights = 

## Extra scrap generation for CharlotteFlow.
# Setting type: Int32
# Default value: 0
CharlotteFlow | Extra Scrap Generation = 0

## Dungeon range clamp for CharlotteFlow.
# Setting type: BoundedRange
# Default value: 0,999
CharlotteFlow | Dungeon Range Clamp = 0,999

[Polina Options]

## Whether Polina is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Polina.
# Setting type: Boolean
# Default value: false
Polina | Allow Editing Config = false

## Preset moon weights for Polina.
# Setting type: String
# Default value: charlotteslabyrinth:charlottes_labyrinth=+100
Polina | Preset Moon Weights = charlotteslabyrinth:charlottes_labyrinth=+100

## Preset interior weights for Polina.
# Setting type: String
# Default value: 
Polina | Preset Interior Weights = 

## Preset weather weights for Polina.
# Setting type: String
# Default value: 
Polina | Preset Weather Weights = 

## Preset route weights for Polina.
# Setting type: String
# Default value: 
Polina | Preset Route Weights = 

## Power level for Polina.
# Setting type: Single
# Default value: 1
Polina | Power Level = 1

## Max spawn count for Polina.
# Setting type: Int32
# Default value: 5
Polina | Max Spawn Count = 5

[Pyotr Options]

## Whether Pyotr is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Pyotr.
# Setting type: Boolean
# Default value: false
Pyotr | Allow Editing Config = false

## Preset moon weights for Pyotr.
# Setting type: String
# Default value: charlotteslabyrinth:charlottes_labyrinth=+0
Pyotr | Preset Moon Weights = charlotteslabyrinth:charlottes_labyrinth=+0

## Preset interior weights for Pyotr.
# Setting type: String
# Default value: 
Pyotr | Preset Interior Weights = 

## Preset weather weights for Pyotr.
# Setting type: String
# Default value: 
Pyotr | Preset Weather Weights = 

## Preset route weights for Pyotr.
# Setting type: String
# Default value: 
Pyotr | Preset Route Weights = 

## Power level for Pyotr.
# Setting type: Single
# Default value: 1
Pyotr | Power Level = 1

## Max spawn count for Pyotr.
# Setting type: Int32
# Default value: 5
Pyotr | Max Spawn Count = 5

