## Settings file was created by plugin Real Heart Attack v1.2.2
## Plugin GUID: Turkeysteaks.HeartAttackMod

[Adrenaline]

## Whether to always force a tremble (slowdown) after an adrenaline rush.
# Setting type: Boolean
# Default value: false
TrembleAfterAdrenaline = false

## Whether adrenaline's effects happen instantly or are gradually started and ended.
# Setting type: Boolean
# Default value: false
AdrenalineIsInstant = false

## Speed the player walks with adrenaline.
# Setting type: Single
# Default value: 7
AdrenalineMoveSpeed = 6.5

## Speed the player climbs with adrenaline.
# Setting type: Single
# Default value: 4
AdrenalineClimbSpeed = 4

## Time (in seconds) the player is affected by the adrenaline rush.
# Setting type: Single
# Default value: 3
AdrenalineTime = 3.5

## (Currently not used) Field of View to use while affected by the adrenaline rush.
# Setting type: Single
# Default value: 72
AdrenalineFOV = 72

## How much 'drunkness' to add to the player when hit with adrenaline.
# Setting type: Single
# Default value: 0.6
AdrenalineExtraDrunkness = 0.65

[General]

## Percentage chance to have a heart attack on fear. Set to 0 for no chance.
# Setting type: Single
# Default value: 5
# Acceptable value range: From 0 to 100
HeartAttackChance = 5

## Percentage chance to tremble on fear. Set to 0 for no chance.
# Setting type: Single
# Default value: 13
# Acceptable value range: From 0 to 100
TrembleChance = 13

## Percentage chance to gain an adrenaline rush on fear. Set to 0 for no chance.
# Setting type: Single
# Default value: 15
# Acceptable value range: From 0 to 100
AdrenalineChance = 15

## Minimum fear required to trigger any of the effects. Value should be between 0 and 1, and must be higher than FearToReset.
# Setting type: Single
# Default value: 0.5
FearToTrigger = 0.5

## Maximum fear required to reset the chance to have an effect. Once fear is below this number, getting scared again can trigger another effect. Value should be between 0 and 1, and must be lower than FearToTrigger.
# Setting type: Single
# Default value: 0.25
FearToReset = 0.25

## Whether it's possible to have a heart attack when on your own. Note that in singleplayer, this value is ignored and you can always have a heart attack.
# Setting type: Boolean
# Default value: false
HeartAttackWhenAlone = false

[Tremble]

## Whether tremble's effects happen instantly or are gradually started and ended.
# Setting type: Boolean
# Default value: true
TrembleIsInstant = false

## Whether tremble drains stamina.
# Setting type: Boolean
# Default value: true
TrembleDrainsStamina = true

## Speed the player walks while trembling.
# Setting type: Single
# Default value: 0.5
TrembleMoveSpeed = 0.35

## Speed the player climbs while trembling
# Setting type: Single
# Default value: 2
TrembleClimbSpeed = 2

## Time (in seconds) the player trembles for.
# Setting type: Single
# Default value: 2.5
TrembleTime = 2.5

