## Settings file was created by plugin Backrooms Renewed v0.1.5
## Plugin GUID: VELDDev.BackroomsRenewed

[Advanced]

## Use this is if you encounter issues with navmeshes (entities not behaving correctly in the backrooms). Disclaimer: The legacy NavMesh generation system might freeze the game for a few seconds for the weakest configs.
# Setting type: Boolean
# Default value: false
Use Legacy Navmesh Generation = false

[General]

## Enable streamer mode to disable copyrighted musics and replace with copyright-free alternatives.
# Setting type: Boolean
# Default value: false
Streamer Mode = false

## Whether to use Fair Randomization (a.k.a. Pity system) for random events (e.g. TP) or use normal randomization.
# Setting type: Boolean
# Default value: false
Use Fair Randomization = false

[Generation]

## The maze generation algorithm used for Backrooms levels. (Blob is recommended for optimal aesthetics)
# Setting type: MazeAlgorithm
# Default value: Blob
# Acceptable values: Blob, Kruskal, Prim, Wilson, RandomPathMerge, FractalTessellation
Backrooms Generation Algorithm = Blob

## The minimum size in cells (width and length) of generated Backrooms levels.
# Setting type: Int32
# Default value: 15
Minimum Backrooms Size = 15

## The maximum size in cells (width and length) of generated Backrooms levels.
# Setting type: Int32
# Default value: 30
Maximum Backrooms Size = 30

## The maximum number of fake exits that will appear in the Backrooms. They do not kill, just TP to somewhere else in the backrooms.
# Setting type: Int32
# Default value: 2
Maximum Fake Exits Count = 2

## The number of real exit doors that will spawn in the Backrooms.
# Setting type: Int32
# Default value: 1
Exit Count = 1

[Teleportation]

## Enable teleportation on death.
# Setting type: Boolean
# Default value: true
Teleport on Death = true

## Enable teleportation on clipping through walls.
# Setting type: Boolean
# Default value: true
Teleport on Clipping = true

## Enable teleportation on taking damage.
# Setting type: Boolean
# Default value: false
Teleport on Damage = false

## Enable teleportation when entering/exiting the facility
# Setting type: Boolean
# Default value: true
Teleport on Entrance/Exit = true

## Enable teleportation when using Ship Teleporter
# Setting type: Boolean
# Default value: true
Teleport on Ship Teleport = true

## Enable teleportation when using the Ship Revert Teleporter
# Setting type: Boolean
# Default value: true
Teleport on Ship Revert TP = true

## The percentage chance of teleportation occurring on death.
# Setting type: Single
# Default value: 10
Teleportation Odds on Death = 10

## The chance percentage of teleportation occurring on clipping through walls.
# Setting type: Single
# Default value: 100
Teleportation Odds on Clipping = 100

## The percentage chance of teleportation occurring on taking damage.
# Setting type: Single
# Default value: 1
Teleportation Odds on Damage = 1

## The chance percentage of teleportation occurring when entering or exiting the facility
# Setting type: Single
# Default value: 0.1
Telportation Odds On Entrance/Exit = 0.1

## The chance percentage of teleportation occurring when using the ship teleporter.
# Setting type: Single
# Default value: 0.1
Teleportation Odds on Ship Teleport = 0.1

## The chance percentage of teleportation occurring when using the ship revert teleporter
# Setting type: Single
# Default value: 1
Teleportation Odds on Ship Revert TP = 1

## If enabled, will drop all items on the ground when TP in the Backrooms.
# Setting type: Boolean
# Default value: false
Drop All Held Items On TP = false

