## Settings file was created by plugin MopatorEnemy v1.7.0
## Plugin GUID: WaterGun.Mopator

[MopatorPlushie]

## Should the plushie be enabled?
# Setting type: Boolean
# Default value: true
Enable = true

## Rarity of the plushie to be spawned on the moon
# Setting type: Int32
# Default value: 20
Rarity = 5

[Spawn]

## What is the global rarity for mopator?
# Setting type: Int32
# Default value: 40
GlobalRarity = 5

## Replace global rarity on special moons
# Setting type: String
# Default value: 41 Experimentation:25,7 Dine:60,57 Harbringer:80
PerMoonRarity = 41 Experimentation:5,7 Dine:15,57 Harbringer:25

## What is the maximum amount of mopators that can spawn?
# Setting type: Int32
# Default value: 2
SpawnCap = 2

## What is the mopator PowerLevel?
# Setting type: Single
# Default value: 1
PowerLevel = 1

