[Spawn]

## What is the rarity for mopator
# Setting type: Int32
# Default value: 70
Rarity = 5

## What is the maximum amount of mopators that can spawn?
# Setting type: Int32
# Default value: 2
SpawnCap = 2

## What is the mopator PowerLevel?
# Setting type: Single
# Default value: 1
PowerLevel = 1

